{{ partial "header.html" .}}
{{ $author := index .Site.Params.authors .Params.author }}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}{{ .Params.image }}')">
      {{ else }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/post-bg.jpg')">
    {{ end }}
      <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="post-heading">
               <h1>{{ .Title }}</h1>
               <desc class="subheading">{{ .Description }}</desc>
               <span class="author">By <a href="/author/{{ .Params.author }}">{{ $author.name }}</a></span><br />
               <span class="meta">{{ dateFormat .Site.Params.DateForm .Date }}<br /> Filed under:&nbsp;{{ partial "tags.html" . }}
               </span>
             </div>
           </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ .Content }}
                </div>
            </div>
            <footer class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <hr />
                </div>
                <div class="col-lg-2 col-lg-offset-2 col-md-offset-1">
                    <img src="{{ $author.image }}" alt="" class="pull-left" />
                </div>
                <div class="col-lg-6 col-md-8">
                    <strong><a href="/author/{{ .Params.author }}">{{ $author.name }}</a></strong>&nbsp;&middot;&nbsp;<a href="http://twitter.com/{{ $author.twitter }}"><i class="fa fa-twitter"></i></a>&nbsp;<a href="mailto:{{ $author.name }}@mettleup.com"><i class="fa fa-envelope"></i></a><br />
                    {{ $author.bio | markdownify }}
                </div>
            </footer>
        </div>

    </article>

{{ partial "footer.html" .}}
